<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.testAdmin.dao.UserMapper">
     <select id="readUser" parameterType="String" resultType="com.testAdmin.repository.entity.User">
          <!-- SELECT * FROM user1 WHERE username = #{username} -->
          select user_id username, user_pwd password, user_nm name, 1 isAccountNonExpired, 1 isAccountNonLocked, 1 isCredentialsNonExpired, 1 isEnabled 
          from csuser where user_id = #{username}
     </select>
     
     <select id="readAuthority" parameterType="String" resultType="String">
          <!-- SELECT authority_name FROM authority WHERE username = #{username} -->
          select 'USER' from dual
     </select>
</mapper>


